@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HQSOFT.Common.Permissions
@using HQSOFT.Common.Web.Pages.Common.Notifications
@using HQSOFT.Common.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Common.Localization
@inject IHtmlLocalizer<CommonResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Notifications"].Value;
    PageLayout.Content.MenuItemName = CommonMenus.Notifications;
}

@section styles
{

}

@section scripts
{
    <abp-script src="/Pages/Common/Notifications/index.js" />

}

@section content_toolbar {

    @if (await Authorization.IsGrantedAsync(CommonPermissions.Notifications.Create))
    {
        <abp-button id="NewNotificationButton" text="@L["NewNotification"].Value" icon="plus" size="Small" button-type="Primary" />
    }

}



<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="FromUserIdFilter" label="@L["FromUserId"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ToUserIdFilter" label="@L["ToUserId"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="NotiTitleFilter" label="@L["NotiTitle"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="NotiBodyFilter" label="@L["NotiBody"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsReadFilter" label="@L["IsRead"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DocIdFilter" label="@L["DocId"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="UrlFilter" label="@L["Url"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="TypeFilter" label="@L["Type"].Value" />
            </abp-column>

        </abp-row>

        <abp-table striped-rows="true" id="NotificationsTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["FromUserId"]</th>
					<th>@L["ToUserId"]</th>
					<th>@L["NotiTitle"]</th>
					<th>@L["NotiBody"]</th>
					<th>@L["IsRead"]</th>
					<th>@L["DocId"]</th>
					<th>@L["Url"]</th>
					<th>@L["Type"]</th>


				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

